body{
    display: flex;
    justify-content: center;
    min-height:100vh ;
    margin: 0%;
    background-color: rgba(206, 75, 14, 0.89);
}
.imagem{
    height: 100vh;
}
.nome{
    margin-top: 47vh;
    margin-left: 5vh;
}
.link{
    margin-top: 49vh;
    margin-left: 3vh;
    text-decoration: none;
    color: blue;
}
div{
    display: flex;
    justify-content: center;
    min-height:100vh ;


}
